.txtFrase {
  position: absolute;
  top: 95px;
  left: 43px;
  font-weight: 500;
  display: inline-block;
  width: 611px;
}
.txtMnsjestudiante {
  margin: 0;
  position: absolute;
  top: 31px;
  left: 47px;
  font-size: 40px;
  font-weight: 700;
  font-family: inherit;
  color: #3d87ff;
}
.mnsj {
  border-radius: 15px;
  background-color: rgba(209, 235, 255, 0.7);
  width: 650px;
  height: 180px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: var(--font-lato);
}
