.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-info {
  text-align: center;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 24px;
  margin: 10px 0;
}

.id,
.career {
  font-size: 18px;
  margin: 5px 0;
}

.soporte {
  color: #69a2ff;
  position: fixed; /* Esto hará que el elemento esté fijo en una posición específica de la ventana del navegador */
  bottom: 0; /* Esto posicionará el elemento en la parte inferior de la ventana */
  left: 50%; /* Esto centrará el elemento horizontalmente */
  transform: translateX(
    -50%
  ); /* Esto ajustará la posición para que esté perfectamente centrado */
  z-index: 1000;
}
